@import '../node_modules/normalize.css/normalize';
@import '../node_modules/iconfonts/stylesheets/ionicons';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$line-color: rgba(#808099, .1);
$text-color: #404050;
$primary: #7080a0;
$gray-text: $primary;
$accent: #3498db;
$sans: 'source sans pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$small: .86em;

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    zoom: 1;
    clear: both;
  }
}

@include ion-font;

* {
  box-sizing: border-box;
}

body {
  font-family: $sans;
  font-size: 16px;
  background: #fafafa;
  color: $text-color;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

button {
  cursor: pointer;
}

summary:focus,
summary:active {
  outline: 0;
  cursor: pointer;
}

.app-root {
  max-width: 560px;
  margin: 32px auto;
  background: white;
  box-shadow: 0 8px 16px rgba($accent, .2);

  @media (max-width: 768px) {
    margin: 16px auto;
  }

  @media (max-width: 480px) {
    margin: 0;
  }
}

.calculator-steps {
}

.calculator-step {
  @include clearfix;

  & {
    padding: 16px;
    line-height: 32px;
    border-top: solid 1px $line-color;
  }

  > .meta {
    color: $primary;
    display: block;
    text-align: right;
    float: right;
    font-size: $small;
  }

  > .meta > .exp {
    color: $accent;
  }

  > .meta > .duration {
    min-width: 3em;
    display: inline-block;
  }

  > .meta > .duration,
  > .meta > .exp {
    margin-left: 16px;
  }

  @media (max-width: 768px) {
    line-height: 1.5;
    > .step-icon {
      display: none;
    }
  }
}

.calculator-step.-egg,
.calculator-step.-total {
  // No <details>, so compensate
  padding-left: 34px;
}

.calculator-step.-total {
  border-top: solid 1px rgba($accent, .5);

  > .meta {
    float: right;
  }
}

.calculator-step.-total {
  background: rgba($primary, .05);
  font-weight: bold;
}

.pidgey-form {
  padding: 16px;
  background: $accent;
  color: lighten($accent, 20%);
}

.pidgey-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  > thead > tr,
  > tbody > tr {
    > th, > td {
      padding: 0;
      margin: 0;
      padding-right: 8px;
    }

    > td {
      border-top: solid 1px rgba(white, .1);
      padding-top: 8px;
      padding-bottom: 8px;
    }

    > th:last-child,
    > td:last-child {
      padding-right: 0;
    }

    > th {
      font-weight: normal;
      text-align: right;
      padding-bottom: 8px;
      font-size: $small;
    }

    > .remove {
      width: 5%;
    }

    > .pokemon {
      width: 55%;
    }

    > .count {
      width: 20%;
    }

    > .candies {
      width: 20%;
    }
  }

  // No remove button on one line
  &.-single > thead > tr,
  &.-single > tbody > tr {
    > .pokemon {
      width: 60%;
    }
  }

  > * > tr > .count,
  > * > tr > .candies {
    > input { width: 100%; }
  }

  > * > tr > .pokemon > select {
    width: 100%;
  }
}

.pidgey-table-add {
  > button {
    cursor: pointer;
    text-align: left;
    font-size: $small;
    background: transparent;
    display: block;
    width: 100%;
    margin-top: 8px;
    border-radius: 3px;
    outline: 0;
    padding: 0 8px;
    border: 0;
    color: lighten($accent, 20%);
    height: 32px;
    line-height: 32px;
  }

  > button:hover,
  > button:focus {
    color: white;
  }

  > button::before {
    @include ion-icon('ios-plus-outline', 24px);
    color: white;
    margin-right: 8px;
  }
}

.form-control {
  background: transparent;
  border: 0;
  padding: 0 8px;
  background: rgba(black, .1);
  border-radius: 2px;

  height: 24px;
  line-height: 24px;
  color: white;
  text-align: right;
  font-size: $small;

  &:focus,
  &:active {
    outline: 0;
  }

  &:focus {
    background: rgba(white, .1);
  }
}

select {
  background: transparent;
  border: 0;
  color: white;
  font-weight: bold;
}

.checkbox-label {
  font-size: $small;
  margin-top: 16px;
  text-align: right;
  display: block;

  > input {
    margin-left: 8px;
    float: right;
  }
}

.debug-details {
  > summary {
    padding: 16px;
    font-size: $small;
    color: $primary;
    opacity: .5;
  }

  > pre {
    margin: 0;
    font-size: $small;
    padding: 16px;
  }
}

.calculator-details {
  color: $gray-text;
  margin: 0;
  margin-bottom: 16px;
  margin-left: 34px;
  font-size: $small;
  border-top: solid 1px $line-color;
  padding-top: 16px;

  > .label,
  > .item {
    margin-right: 16px;
  }

  margin-top: -8px;
  padding-top: 12px;

  @media (min-width: 769px) {
    margin-left: 34px + 51px; // Compensate for icon
    margin-top: -10px; // Move into the icon
    padding-top: 16px;
  }
}

.step-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  line-height: 32px - 4px;
  text-align: center;
  background: rgba($accent, .1);
  color: $accent;
  border-radius: 50%;

  margin-right: 12px;
  margin-left: 4px;


  &::before {
    font-size: 18px;
  }

  &.-egg {
    &::before { @include ion-icon('egg'); }
    color: white;
    background: #9c27b0;
  }

  &.-transfer {
    background: rgba(#eaa, .2);
  }

  &.-evolve,
  &.-evolve-transfer {
    background: rgba($accent, .2);
  }

  > img {
    position: relative;
    top: -4px;
  }

  &.-total {
    visibility: hidden;
  }
}

.remove-button {
  outline: 0;
  border: 0;
  background: transparent;
  color: white;
}
