.app-root {
  background: white;
  box-shadow: 0 8px 16px rgba($accent, 0.2);
  display: flex;
  flex-direction: column;

  > .fixed {
    flex: 0 0 auto;
  }

  > .grow {
    flex: 1 0 auto;
  }
}

.top-layout {
  @media (min-width: 900px) {
    & {
      display: flex;
      align-items: center;
      height: 100%;
      min-height: 100vh;
    }

    > .app > * {
      min-height: calc(100vh - 2 * 32px);
    }

    > .app {
      flex: 1 0 (560px + 64px);
      padding: 32px;
    }

    > .text {
      flex: 1 1 50%;
    }
  }

  @media (max-width: 899px) {
    > .app {
      max-width: 560px;
      margin: 32px auto;
    }
  }

  @media (max-width: 768px) {
    > .app {
      max-width: 560px;
      min-width: 300px;
      margin: 32px auto;
    }
  }

  @media (max-width: 480px) {
    > .app {
      margin: 0;
    }
  }
}

.top-text {
  line-height: 1.5;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;

  @media (max-width: 480px) {
    margin-top: 16px;
  }

  > :first-child {
    margin-top: 0;
  }

  h1 {
    font-weight: 300;
    font-size: 1.2em * 1.2 * 1.2 * 1.2;
    margin-bottom: 0;
    text-align: center;
    color: $accent2;
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.1em * 1.1 * 1.1 * 1.1;
    }
  }

  ol {
    margin-left: 0;
    padding-left: 0;
  }

  ol > li {
    margin-left: 1em;
    padding-left: 1em;
  }
}

.top-icon {
  text-align: center;
  display: block;
  color: $accent2;

  &::before {
    @include ion-icon('egg');

    font-size: 96px;

    @media (max-width: 768px) {
      font-size: 72px;
    }

    @media (max-width: 480px) {
      font-size: 48px;
    }
  }
}

.pidgey-form {
  padding: 16px;
  background: $accent;
  color: lighten($accent, 20%);
}
