// Update the sytles of hints
[class*="hint--"]:after {
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  text-align: left;
}

@media (max-width: 768px) {
  [class*="hint--"]:before,
  [class*="hint--"]:after {
    display: none;
  }
}
