.pidgey-table-add {
  &.pidgey-table-add {
    padding-top: 4px;
    padding-bottom: 0;
  }

  > button {
    cursor: pointer;
    text-align: left;
    font-size: $small;
    background: transparent;
    display: block;
    width: 100%;
    border-radius: 3px;
    outline: 0;
    padding: 0 8px;
    border: 0;
    color: lighten($accent, 20%);
    height: 32px;
    line-height: 32px;
    position: relative;
  }

  > button:hover,
  > button:focus {
    color: white;
  }

  > button::before {
    @include ion-icon('ios-plus-outline', 24px);

    color: white;
    margin-right: 8px;
    position: relative;
    top: -1px;
  }

  > button::after {
    @include hit-area(16px);
  }
}
