.save-for-later {
  position: relative;
  padding: 16px;
  text-align: right;

  > .button {
    @include button;
  }

  > .button::after {
    @include ion-icon('android-star-outline', 16px);
    color: $accent;
    margin-left: 8px;
    position: relative;
    top: -2px;
  }
}

.save-for-later-popup {
  position: absolute;
  bottom: 48px + 16px;
  right: 16px;
  max-width: 320px;

  padding: 8px;
  box-shadow: 0 4px 10px rgba($primary, .2);
  border: solid 1px $line-color;
  border-radius: 3px;
  margin-top: 16px;
  text-align: left;
  background: mix($primary, white, .1);

  > p {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    padding-top: 2px;
    font-size: $small;
  }

  > textarea {
    padding: 0 8px;
    border: solid 1px $line-color;
    border-radius: 3px;

    font-family: $sans;
    min-width: 300px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: $small;
    white-space: nowrap;
    overflow: hidden;
    color: $gray-text;
  }

  > textarea:focus {
    outline: 0;
    border-color: $accent;
  }

  > .close {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;

    background: transparent;
    color: $accent;
    border: 0;
  }

  > .close::before {
    @include hit-area(8px, 16px);
  }

  > .close:focus {
    outline: 0;
  }
}
