.app-root {
  max-width: 560px;
  margin: 32px auto;
  background: white;
  box-shadow: 0 8px 16px rgba($accent, .2);

  @media (max-width: 768px) {
    margin: 16px auto;
  }

  @media (max-width: 480px) {
    margin: 0;
  }
}

.pidgey-form {
  padding: 16px;
  background: $accent;
  color: lighten($accent, 20%);
}
