.app-root {
  max-width: 560px;
  margin: 32px auto;
  background: white;
  box-shadow: 0 8px 16px rgba($accent, .2);

  @media (max-width: 768px) {
    margin: 16px auto;
  }

  @media (max-width: 480px) {
    margin: 0;
  }
}

.pidgey-form {
  padding: 16px;
  background: $accent;
  color: lighten($accent, 20%);
}

.pidgey-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  > thead > tr,
  > tbody > tr {
    > th, > td {
      padding: 0;
      margin: 0;
      padding-right: 8px;
    }

    > td {
      border-top: solid 1px rgba(white, .1);
      padding-top: 8px;
      padding-bottom: 8px;
      height: 26px + 16px;
    }

    > th:last-child,
    > td:last-child {
      padding-right: 0;
    }

    > th {
      font-weight: normal;
      text-align: right;
      padding-bottom: 8px;
      font-size: $small;
    }

    > .remove {
      width: 5%;
    }

    > .pokemon {
      width: 55%;
    }

    > .count {
      width: 20%;
    }

    > .candies {
      width: 20%;
    }
  }

  // No remove button on one line
  &.-single > thead > tr,
  &.-single > tbody > tr {
    > .pokemon {
      width: 60%;
    }
  }

  > * > tr > .count,
  > * > tr > .candies {
    > input { width: 100%; }
  }

  > * > tr > .pokemon > select {
    width: 100%;
  }
}

.pidgey-table-add {
  > button {
    cursor: pointer;
    text-align: left;
    font-size: $small;
    background: transparent;
    display: block;
    width: 100%;
    margin-top: 8px;
    border-radius: 3px;
    outline: 0;
    padding: 0 8px;
    border: 0;
    color: lighten($accent, 20%);
    height: 32px;
    line-height: 32px;
  }

  > button:hover,
  > button:focus {
    color: white;
  }

  > button::before {
    @include ion-icon('ios-plus-outline', 24px);
    color: white;
    margin-right: 8px;
  }
}

.form-control {
  background: transparent;
  border: 0;
  padding: 0 8px;
  background: rgba(black, .1);
  border-radius: 2px;

  height: 24px;
  line-height: 24px;
  color: white;
  text-align: right;
  font-size: $small;

  &:focus,
  &:active {
    outline: 0;
  }

  &:focus {
    background: rgba(white, .1);
  }
}

select {
  background: transparent;
  border: 0;
  color: white;
  font-weight: bold;
}
