.calculator-step {
  @include clearfix;

  & {
    padding: 8px 16px;
    line-height: 32px;
    border-top: solid 1px $line-color;
  }

  > .meta {
    color: $primary;
    display: block;
    text-align: right;
    float: right;
    font-size: $small;
    margin-top: 2px;

    @media (max-width: 768px) {
      margin-top: 5px;
    }

    @media (max-width: 480px) {
      margin-top: 2px;
    }
  }

  > .meta > .exp {
    color: $accent;
  }

  > .meta > .duration {
    min-width: 3em;
    display: inline-block;
  }

  > .meta > .duration,
  > .meta > .exp {
    margin-left: 16px;
  }

  @media (max-width: 768px) {
    line-height: 1.5;
  }
}

.calculator-step.-egg,
.calculator-step.-total {
  // No <details>, so compensate
  padding-left: 34px;
}

.calculator-step.-total {
  border-top: solid 1px rgba($accent, .5);

  > .meta {
    float: right;
  }
}

.calculator-step.-total {
  font-weight: bold;
}

