.calculator-details {
  color: $gray-text;
  margin: 0;
  margin-bottom: 16px;
  margin-left: 34px;
  font-size: $small;
  border-top: solid 1px $line-color;
  padding-top: 16px;

  > .label,
  > .item {
    margin-right: 16px;
  }

  margin-top: -8px;
  padding-top: 12px;

  @media (min-width: 769px) {
    margin-left: 34px + 51px; // Compensate for icon
    margin-top: -10px; // Move into the icon
    padding-top: 16px;
  }
}
