.checkbox-label {
  font-size: $small;
  text-align: right;
  display: block;
  user-select: none;
  cursor: pointer;
  position: relative;

  &::before {
    @include hit-area(16px);
  }

  > input {
    margin-left: 8px;
    float: right;
  }

  &:hover,
  &:focus {
    color: white;
  }
}
