$line-color: rgba(#808099, 0.1);
$black: #111;
$text-color: #404050;
$primary: #7080a0;
$gray-text: $primary;
$accent: #3498db;
$accent2: #00bcd4;
$sans: 'source sans pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$small: 0.86em;
