doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Weedle Calculator - Pokemon Go Powerleveling!
    meta(property='og:title' content='How to power-level in Pokemon Go')
    meta(property='og:image' content='http://weedlecalc.com/assets/preview.png')
    meta(name='description' content='Level up fast! Weedlecalc.com finds the most efficient way to earn EXP points.')
    link(rel='stylesheet' href='assets/style.css')
  body
    .top-layout
      #app.app.top-app
      .text
        .top-text
          span.top-icon
          h1.
            Pokemon Go power-leveling
          p.
            The most efficient way to gain experience points in Pokemon Go is to save all your evolutions and do them while you use a Lucky Egg. Unfortunately, a lucky egg only lasts for 30 minutes. Use this calculator to make the most of your time!
          ol
            li: p.
              Acquire a lucky egg. You will get one when you reach level 8, 9, 10, 15. You will get two on level 20. #[a(href='http://www.ign.com/wikis/pokemon-go/Level_Rewards_and_Unlockable_Items') (reference)]
            li: p.
              Don't evolve any Pokemon. Save up all your evolvables!
            li: p.
              Once you get enough evolutions (around 150 Pidgey candies), use this calculator to get step-by-step instructions on how to make the most of your Lucky Egg.
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js')
    script(src='js/script.js')
    script
      != "if (window.location.hostname.indexOf('weedlecalc.com')>-1) {"
      != "(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');"
      != "ga('create', 'UA-82898511-1', 'auto');"
      != "ga('send', 'pageview');}"
